<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link href="CSS/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<div class="col-10" th:fragment="AdminPanel">
  <p class="h4">Admin panel</p>
  <nav class="card" >
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users Table</a>
        </li>
        <li>
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#new" role="tab" aria-controls="profile" aria-selected="false">New User</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="container-fluid">
            <div class="h5 bg-light">All Users</div>


            <table class="table table-striped">
              <thead class="text-black">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:scope="row" th:each ="user : ${allUsers}">
                <td th:scope="row" th:utext="${user.getId()}">ID</td>
                <td  th:scope="row" th:utext="${user.getName()}">First Name</td>
                <td th:scope="row" th:utext="${user.getSurname()}">Last Name</td>
                <td th:scope="row" th:utext="${user.getAge()}">Age</td>
                <td th:scope="row" th:utext="${user.getUsername()}">Email</td>
                <td th:scope="row">
                  <th:block th:each="role : ${user.getRoles()}">
                    <th:block th:text="${role.getName}"></th:block>
                  </th:block>
                </td>
                <td th:scope="row"><button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                        th:attr="data-bs-target=${'#editModal' + user.id}">
                  Edit
                </button>

                <!-- Модальное окно -->
                <div class="modal fade"
                     th:attr="id=${'editModal' + user.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">

                        <form action="#" th:method="PATCH" th:object="${getUser}"
                              th:action="@{/admin/users/{id}(id=${user.getId()})}">

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'userId'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>ID</strong></span></label>
                              <input type="text"
                                     class="form-control collection-ville text-center"
                                     th:id="'userId'+${user.getId()}" name="id" th:value="${user.getId()}"
                                     th:name="id" readonly="readonly">
                            </div>
                          </div>

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'name'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>First name</strong></span></label>
                              <input type="text"
                                     class="form-control collection-ville text-center"
                                     th:id="'name'+${user.getId()}" name="name"
                                     th:value="${user.getName()}" th:name="name">
                            </div>
                          </div>

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'userName'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>Last name</strong></span></label>
                              <input type="text"
                                     class="form-control collection-ville text-center"
                                     th:id="'surname'+${user.getId()}" name="lastName"
                                     th:value="${user.getSurname()}" th:name="surname">
                            </div>
                          </div>

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'age'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>Age</strong></span></label>
                              <input type="number"
                                     class="form-control collection-ville text-center"
                                     th:id="'age'+${user.getId()}" name="age"
                                     th:value="${user.getAge()}" th:name="age">
                            </div>
                          </div>

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'userName'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>Email</strong></span></label>
                              <input type="text"
                                     class="form-control collection-ville text-center"
                                     th:id="'userName'+${user.getId()}" name="email"
                                     th:value="${user.getUsername()}" th:name="username">
                            </div>
                          </div>

                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'password'+${user.getId()}" class="center-block"><span
                                      class="font-weight-bold"><strong>Password</strong></span></label>
                              <input type="text"
                                     class="form-control collection-ville text-center"
                                     th:id="'password'+${user.getId()}" name="password"
                                     th:name="password">
                            </div>
                          </div>


                          <div class="form-group text-center row justify-content-center align-items-center">
                            <div class="col-sm-6">
                              <label th:for="'exampleFormControlSelect2'+${user.getId()}"><b>Role</b></label>
                              <select class="form-select form-select-sm" aria-label="Small select" label="Select Roles" th:id="'exampleFormControlSelect2'+${user.getId()}" name="role" size="2" th:object="${role}">
                                <option value="ROLE_USER">User</option>
                                <option value="ROLE_ADMIN">Admin</option>
                              </select>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit
                            </button>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                <td>
                  <button type="button" class="btn btn-danger" th:onclick="'showDeleteModal(' + ${user.getId()} + ')'" data-bs-toggle="modal" th:data-bs-target="'#deleteModal-'+${user.getId()}">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
          <div  class="container" th:include="~{users/new :: newUser}">

          </div>
        </div>
      </div>
    </div>

  </nav>

</div>

</body>
</html>