<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="CSS/styles.css" rel="stylesheet">
    <title>Main Page</title>
</head>

<body class="bg-light">

<header>
    <div th:fragment="header">
        <div class="header">
            <div class="container-fluid">
                <div class="row bg-dark">
                    <div class="col-4">
                        <div class="text-white mt-3">
                            <th:block th:text="${activeUser.getUsername()}"></th:block>
                            <th:block> with roles:</th:block>
                            <th:block th:each="role : ${activeUser.getRoles()}">
                                <th:block th:text="${role.getName}"></th:block>
                            </th:block>

                        </div>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-1">
                        <div class="btn">
                            <a class="btn btn-outline-light btn-lg" href="/logout/" role="button">Logout</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-2 sidebar container-fluid bg-white text-center">

                <div class="align-content-lg-center">
                    <nav class="nav" th:each ="role : ${activeUser.getRoles()}">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="admin/" th:text="${role.getAuthority()}"></a>
                        </li>
                    </nav>
                </div>

    </div>
    <div class="col-10" th:insert="~{users/AdminPanel :: AdminPanel}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:inline="javascript">

    //var test = [[${activeUser}]] // НЕ УДАЛЯТЬ
    let modalWrap = null;
    if (modalWrap !== null) {
        modalWrap.remove();
    }
    const showDeleteModal = (id) => {

        modalWrap = document.createElement('div');
        var allUsers = Array.from([[${allUsers}]]);

        allUsers.forEach(user => {
            if (user.id === id) {
                console.log(user.name);
                modalWrap.innerHTML = `
            <div class="modal fade" id="deleteModal${user.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" >
                    <form method="POST" action="/admin/users/${user.id}">
                    <div class="form-group">
                        <label for="id" >ID</label>
                        <input type="number" class="form-control" placeholder="${user.id}" id="id" disabled aria-describedby="nameHelp">
                      </div>
                      <div class="form-group">
                        <label for="name">First name</label>
                        <input type="text" class="form-control" placeholder="${user.name}" id="name" disabled aria-describedby="nameHelp">
                      </div>
                      <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" placeholder="${user.surname}" id="surname" disabled aria-describedby="surnameHelp">
                      </div>
                      <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" placeholder="${user.age}" id="age" disabled aria-describedby="surnameHelp">
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="${user.username}" id="email" disabled aria-describedby="emailHelp">
                      </div>
                      <label for="role">Role</label>
                      <select class="form-select" multiple aria-label="multiple select example" id="role" disabled>
                        <option selected>Admin</option>
                        <option value="1">User</option>
                      </select>
                      <button class="btn btn-danger" type="submit">Delete User</button>
                    </form>
                  </div>
                  <div class="modal-footer">

                  </div>
                </div>
              </div>
            </div>
        `}
            document.body.append(modalWrap);
        })


        let modal = new bootstrap.Modal(modalWrap.querySelector('.modal'));
        modal.show();

    }

</script>
</body>
</html>