<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="CSS/styles.css" rel="stylesheet">
    <title>Main Page</title>
</head>

<body class="bg-light">

<header th:insert="~{users/header :: header}"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:include="~{users/sidebar :: sidebar}"></div>

        <div class="col-10" th:insert="~{users/AdminPanel :: AdminPanel}">
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:inline="javascript">
    //let allUsers = [[${activeUser}]];



    let modalWrap = null;
    if (modalWrap !== null) {
        modalWrap.remove();
    }
    const showModal = () => {
        var test = [[${test}]];
        modalWrap = document.createElement('div');

        modalWrap.innerHTML = `
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" >
                    <form>
                    ${test}
                    <div class="form-group" >
                        <label for="id" th:text="${test}">ID</label>
                        <input type="number" class="form-control" id="id" aria-describedby="nameHelp">
                        <small id="name" class="form-text text-muted">User's first name</small>
                      </div>
                      <div class="form-group">
                        <label for="name">First name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
                        <small id="name" class="form-text text-muted">User's first name</small>
                      </div>
                      <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" id="surname" aria-describedby="surnameHelp">
                        <small id="name" class="form-text text-muted">User's last name</small>
                      </div>
                      <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" aria-describedby="surnameHelp">
                        <small id="age" class="form-text text-muted">User's age</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">User's email and login</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Role</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="roleHelp">
                        <small id="roleHelp" class="form-text text-muted">User roles</small>
                      </div>
                      <select class="form-select" multiple aria-label="multiple select example">
                        <option selected>Admin</option>
                        <option value="1">User</option>
                      </select>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Delete User</button>
                  </div>
                </div>
              </div>
            </div>
        `


        document.body.append(modalWrap);

        let modal = new bootstrap.Modal(modalWrap.querySelector('.modal'));
        modal.show();

    }

</script>
</body>
</html>