<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="CSS/styles.css" rel="stylesheet">
    <title>Main Page</title>
</head>

<body class="bg-light">
<!-- Header -->
<header>
    <div>
        <div class="header">
            <div class="container-fluid">
                <div class="row bg-dark">
                    <div class="col-4">
                        <div class="text-white mt-3">
                            <strong><th:block th:text="${activeUser.getUsername()}"></th:block></strong>
                            <th:block> with roles:</th:block>
                            <th:block th:each="role : ${activeUser.getRoles()}">
                                <th:block th:text="${role.toString()}"></th:block>
                            </th:block>

                        </div>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-1">
                        <div class="btn">
                            <a class="btn btn-outline-light btn-lg" href="/logout/" role="button">Logout</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2 sidebar container-fluid bg-white text-center" style="height:100vh">
        <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" href="/admin/" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" href="/user/"  role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <!-- Main Panel -->
    <div class="col-10">
        <div class="h1 p-3">Admin panel</div>
        <nav class="card col-11 px-2">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users Table</a>
                    </li>
                    <li>
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#new" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <!-- All users card -->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="card-header">All Users</h2>
                        <div class="container-fluid">
                            <table class="table table-striped">
                                <div class="p-30">
                                    <br>
                                </div>
                                <thead class="text-black">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:scope="row" th:each ="user : ${allUsers}">
                                    <td th:scope="row" th:utext="${user.getId()}">ID</td>
                                    <td  th:scope="row" th:utext="${user.getName()}">First Name</td>
                                    <td th:scope="row" th:utext="${user.getSurname()}">Last Name</td>
                                    <td th:scope="row" th:utext="${user.getAge()}">Age</td>
                                    <td th:scope="row" th:utext="${user.getUsername()}">Email</td>
                                    <td th:scope="row">
                                        <th:block th:each="role : ${user.getRoles()}">
                                            <th:block th:text="${role.toString()}"></th:block>
                                        </th:block>
                                    </td>
                                    <td th:scope="row"><button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                                               th:attr="data-bs-target=${'#editModal' + user.id}">
                                        Edit
                                    </button>

                                        <!-- Модальное окно -->
                                        <div class="modal fade"
                                             th:attr="id=${'editModal' + user.id}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <form action="#" th:method="PATCH" th:object="${getUser}"
                                                              th:action="@{/admin/{id}(id=${user.getId()})}">

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'userId'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>ID</strong></span></label>
                                                                    <input type="text"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'userId'+${user.getId()}" name="id" th:value="${user.getId()}"
                                                                           th:name="id" readonly="readonly">
                                                                </div>
                                                            </div>

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'name'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>First name</strong></span></label>
                                                                    <input type="text"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'name'+${user.getId()}" name="name"
                                                                           th:value="${user.getName()}" th:name="name">
                                                                </div>
                                                            </div>

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'userName'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>Last name</strong></span></label>
                                                                    <input type="text"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'surname'+${user.getId()}" name="lastName"
                                                                           th:value="${user.getSurname()}" th:name="surname">
                                                                </div>
                                                            </div>

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'age'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>Age</strong></span></label>
                                                                    <input type="number"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'age'+${user.getId()}" name="age"
                                                                           th:value="${user.getAge()}" th:name="age">
                                                                </div>
                                                            </div>

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'userName'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>Email</strong></span></label>
                                                                    <input type="text"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'userName'+${user.getId()}" name="email"
                                                                           th:value="${user.getUsername()}" th:name="username">
                                                                </div>
                                                            </div>

                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'password'+${user.getId()}" class="center-block"><span
                                                                            class="font-weight-bold"><strong>Password</strong></span></label>
                                                                    <input type="password"
                                                                           class="form-control collection-ville text-center"
                                                                           th:id="'password'+${user.getId()}" name="password"
                                                                           th:name="password">
                                                                </div>
                                                            </div>


                                                            <div class="form-group text-center row justify-content-center align-items-center">
                                                                <div class="col-sm-6">
                                                                    <label th:for="'exampleFormControlSelect2'+${user.getId()}"><b>Role</b></label>
                                                                    <select class="form-select form-select-sm" aria-label="Small select" label="Select Roles" th:id="'exampleFormControlSelect2'+${user.getId()}" name="role" size="2" th:object="${role}">
                                                                        <option value="ROLE_USER">User</option>
                                                                        <option value="ROLE_ADMIN">Admin</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <td>
                                        <button type="button" class="btn btn-danger" th:onclick="'showDeleteModal(' + ${user.getId()} + ')'" data-bs-toggle="modal" th:data-bs-target="'#deleteModal-'+${user.getId()}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--New User card -->
                    <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
                        <div  class="container-fluid">
                            <div class="row text-center" >
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <form class="text-center" th:method="POST" th:action="@{/admin}" th:object="${newU}" >
                                        <div class="form-group col-6 mx-auto">
                                            <strong><label for="name" class="font-weight-bold">Name</label></strong>
                                            <input type="text" class="form-control" id="name" th:field="*{name}" aria-describedby="First Name" placeholder="Enter your first name">
                                            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First name Error</div>
                                        </div>

                                        <div class="form-group col-6  mx-auto text-center">
                                            <strong><label for="surname" class="font-weight-bold">Last Name</label></strong>
                                            <input type="text" class="form-control" id="surname" th:field="*{surname}" aria-describedby="Second Name" placeholder="Enter your last name">
                                            <div id="lastNameHelp" class="form-text"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Last name Error</div>

                                        </div>
                                        <div class="form-group col-6  mx-auto text-center">
                                            <strong><label for="age" class="font-weight-bold">Age</label></strong>
                                            <input type="number" class="form-control" id="age" th:field="*{age}"  aria-describedby="Age" placeholder="Enter your age">
                                            <div id="ageHelp" class="form-text"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>

                                        </div>
                                        <div class="form-group col-6  mx-auto text-center">
                                            <strong><label for="username" class="font-weight-bold">Email</label></strong>
                                            <input type="email" class="form-control" id="username" th:field="*{username}"  aria-describedby="email" placeholder="Enter your email">
                                            <div id="email help" class="form-text"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

                                        </div>
                                        <div class="form-group col-6  mx-auto text-center">
                                            <strong><label for="password" class="font-weight-bold">Password</label></strong>
                                            <input type="password" class="form-control" th:field="*{password}"  id="password" placeholder="Enter your password">
                                        </div>
                                        <div class="form-group col-6  mx-auto text-center">
                                            <strong><label for="role" class="font-weight-bold">Role </label></strong>
                                        <select class="form-select form-select-sm" aria-label="Small select" id="role" name="role" size="2" th:object="${role}">
                                            <option selected value="ROLE_USER">User</option>
                                            <option value="ROLE_ADMIN">Admin</option>
                                        </select>
                                        </div>
                                        <div class="mx-auto pt-3">
                                            <button type="submit" class="btn btn-success text-center">Add new user</button>
                                        </div>
                                </form>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:inline="javascript">

    //var test = [[${activeUser}]] // НЕ УДАЛЯТЬ
    let modalWrap = null;
    if (modalWrap !== null) {
        modalWrap.remove();
    }
    const showDeleteModal = (id) => {

        modalWrap = document.createElement('div');
        var allUsers = Array.from([[${allUsers}]]);

        allUsers.forEach(user => {
            if (user.id === id) {
                console.log(user.name);
                modalWrap.innerHTML = `
            <div class="modal fade" id="deleteModal${user.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" >
                    <form method="POST" action="/admin/${user.id}">
                    <div class="form-group">
                        <label for="id" >ID</label>
                        <input type="number" class="form-control" placeholder="${user.id}" id="id" disabled aria-describedby="nameHelp">
                      </div>
                      <div class="form-group">
                        <label for="name">First name</label>
                        <input type="text" class="form-control" placeholder="${user.name}" id="name" disabled aria-describedby="nameHelp">
                      </div>
                      <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" placeholder="${user.surname}" id="surname" disabled aria-describedby="surnameHelp">
                      </div>
                      <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" placeholder="${user.age}" id="age" disabled aria-describedby="surnameHelp">
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="${user.username}" id="email" disabled aria-describedby="emailHelp">
                      </div>
                      <label for="role">Role</label>
                      <select class="form-select" multiple aria-label="multiple select example" id="role" disabled>
                        <option selected>Admin</option>
                        <option value="1">User</option>
                      </select>
                      <button class="btn btn-danger" type="submit">Delete User</button>
                    </form>
                  </div>
                  <div class="modal-footer">

                  </div>
                </div>
              </div>
            </div>
        `}
            document.body.append(modalWrap);
        })


        let modal = new bootstrap.Modal(modalWrap.querySelector('.modal'));
        modal.show();

    }

</script>
</body>
</html>