<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>KATA-Users</title>
</head>
<body class="bg-light">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script type="text/javascript">
    const URL = "http://localhost:8080/test/api/";
    const defaultUser = {
        "id": 1,
        "name": "Default",
        "surname": "User",
        "age": 41,
        "roles": [
            {
                "id": 1,
                "name": "ROLE_USER",
                "users": null,
                "authority": "ROLE_USER"
            },
            {
                "id": 2,
                "name": "ROLE_ADMIN",
                "users": null,
                "authority": "ROLE_ADMIN"
            }
        ],
        "username": "DefaultUser@gmail.com",
        "password": "123",
        "enabled": true,
        "credentialsNonExpired": true,
        "accountNonExpired": true,
        "accountNonLocked": true
    }
    const manyDefaultUsers = [
        {
            "id": 2,
            "name": "Nick",
            "surname": "Mason",
            "age": 42,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "username": "NickMason",
            "password": "$2a$10$1JL4rV82pQ9M3yjk5tf1POvPxqKE2.8LOQF09NGAk7UDGmbnhnjiq",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        },
        {
            "id": 9,
            "name": "Claire",
            "surname": "Tonti",
            "age": 41,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                }
            ],
            "username": "ClaireTonti",
            "password": "$2a$10$V9e0ej5NZuOnsYN/0IlqduloEc9fHk7x/7SaS54zuZFQu8vzwYura",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        },
        {
            "id": 33,
            "name": "user",
            "surname": "Clement",
            "age": 32,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "username": "user",
            "password": "$2a$10$X5g9Tcn3XLquYtsSss1vaOWqJk00mG/bsC4OmlBpMn28iCw2CK1hy",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        },
        {
            "id": 39,
            "name": "Alexey",
            "surname": "Volozhanin",
            "age": 29,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "username": "awolozhanin@gmail.com",
            "password": "$2a$10$ZLtPbhXOj5EsKxy1VfcEiO08ZzX97Wxz8IY/pHdje664HVrufOmeS",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        },
        {
            "id": 49,
            "name": "James",
            "surname": "Clement",
            "age": 41,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "username": "awolozhanin1@gmail.com",
            "password": "$2a$10$DRZY1QGkUZBRpAZmxko5qef9fR7fkMKXIn8VAbh/GJCUcrNXlENY6",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        },
        {
            "id": 52,
            "name": "YetAnother",
            "surname": "NewUser",
            "age": 41,
            "roles": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                }
            ],
            "username": "AnotherNewUser",
            "password": "$2a$10$SYIOI0y2cTQcjwWm/v30LezWwFPJQRr4kE.Eu9LloqhM4sHs1GwKm",
            "enabled": true,
            "authorities": [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                }
            ],
            "accountNonLocked": true,
            "accountNonExpired": true,
            "credentialsNonExpired": true
        }
    ]

    function createHeader(activeUser=defaultUser) {
        let header = document.createElement("header");
        let roles = "";
        if (activeUser.roles.length > 1) {
            roles = "ADMIN, USER";
        } else {
            roles = "USER";
        }
        header.innerHTML = `
            <div>
                <div class="header">
                    <div class="container-fluid">
                        <div class="row bg-dark">
                            <div class="col-11">
                                <div class="text-white mt-3">
                                    <strong id="activeUser">${activeUser.username}</strong>
                                     with roles: ${roles}
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn">
                                    <a class="btn btn-outline-light btn-lg" href="/logout/" role="button">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`
        document.body.appendChild(header);
    }


    function createSidebar(activeUser=defaultUser) {
        let sidebar = document.createElement("div");
        let navbar = document.createElement("div");
        sidebar.innerHTML = `<div class="row" id="mainRow">
            <div id="rolesNavbar" class="col-2 sidebar container-fluid bg-white text-center" style="height:100vh"></div>
            <!-- Main Panel goes here -->
        </div>`
        document.body.appendChild(sidebar)
        if (activeUser.roles.length > 1) {
            navbar.innerHTML = `
                <a class="nav-link active" href="#adminPanel" role="tab"
                           aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="#userPanel"  role="tab"
                           aria-controls="v-pills-profile" aria-selected="false">User</a>
                `
        } else {
            navbar.innerHTML = `
            <a class="nav-link active" href="#userPanel"  role="tab"
                           aria-controls="v-pills-profile" aria-selected="true">User</a>

            `
        }

        navbar.setAttribute("class", "nav flex-column nav-pills pt-4");
        navbar.setAttribute("role", "tablist");
        navbar.setAttribute("aria-orientation", "vertical");

        let sidebarToCreate = document.querySelector("#rolesNavbar");
        sidebarToCreate.appendChild(navbar);
    }

    function createEditButton(user=defaultUser) {
        let editButton = document.createElement("button");
        editButton.setAttribute("type","button");
        editButton.setAttribute("class","btn btn-info text-white");
        editButton.setAttribute("data-bs-toggle","modal");
        editButton.setAttribute("id","editButtonId" + user.id);
        editButton.setAttribute("data-bs-target", "#editModal" + user.id)
        editButton.setAttribute("onclick", "createModal('Edit', " + user.id + ")" )
        editButton.innerHTML = `Edit`;
        //createModal("Edit", user.id);
        return editButton;
    }

    function createDeleteButton(user=defaultUser) {
        let editButton = document.createElement("button");
        editButton.setAttribute("type","button");
        editButton.setAttribute("class","btn btn-danger");
        editButton.setAttribute("data-bs-toggle","modal");
        editButton.setAttribute("id","editButtonId" + user.id);
        editButton.setAttribute("data-bs-target", "#deleteModal" + user.id)
        editButton.setAttribute("onclick", "createModal('Delete', " + user.id + ")")
        editButton.innerHTML = `Delete`;
        return editButton;
    }

    function createModal(typeOfModal="Edit", userId=2) {
        let modalWrap = null;
        if (modalWrap !== null) {
            modalWrap.remove();
        }
        const p = new Promise(function(resolve) {
            resolve(fetch(URL+userId)
                .then(response => response.json())
                .then(user => {
                    console.log(user);
                    console.log(user.name);
                    modalWrap = document.createElement('div');
                    modalWrap.innerHTML = `
                                            <div class="modal fade" id="modal${user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel">Edit</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body text-center" >
                                                    <form method="PUT" action="/admin/${user.id}">
                                                    <div class="form-group">
                                                         <strong><label for="id" >ID</label></strong>
                                                        <input type="number" class="form-control" value="${user.id}" id="id" disabled aria-describedby="nameHelp">
                                                      </div>
                                                      <div class="form-group">
                                                         <strong><label for="name">First name</label></strong>
                                                        <input type="text" class="form-control" value="${user.name}" id="name" disabled aria-describedby="nameHelp">
                                                      </div>
                                                      <div class="form-group">
                                                        <strong><label for="surname">Surname</label></strong>
                                                        <input type="text" class="form-control" value="${user.surname}" id="surname" disabled aria-describedby="surnameHelp">
                                                      </div>
                                                      <div class="form-group">
                                                         <strong><label for="age">Age</label></strong>
                                                        <input type="number" class="form-control" value="${user.age}" id="age" disabled aria-describedby="surnameHelp">
                                                      </div>
                                                      <div class="form-group">
                                                         <strong><label for="email">Email</label></strong>
                                                        <input type="email" class="form-control" value="${user.username}" id="email" disabled aria-describedby="emailHelp">
                                                      </div>

                                                    </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        `
                    let selectControl = document.createElement("div");
                    switch (typeOfModal) {
                        case "Edit":
                            console.log("Edit modal");
                            modalWrap.querySelector("#modalLabel").innerHTML = "Edit";
                            modalWrap.querySelector("form").setAttribute("method", "PUT");
                            modalWrap.querySelector("form").setAttribute("action", "/test/api/" + user.id);
                            modalWrap.querySelector("#name").disabled = false;
                            modalWrap.querySelector("#surname").disabled = false;
                            modalWrap.querySelector("#age").disabled = false;
                            modalWrap.querySelector("#email").disabled = false;
                            const passwordGroup = document.createElement("div");
                            passwordGroup.innerHTML = ` <strong><label for="password">Password</label></strong>
                                                  <input type="password" class="form-control" value="${user.password}" id="password" aria-describedby="passwordHelp">`;
                            passwordGroup.setAttribute("class", "form-group");
                            modalWrap.querySelector("form").appendChild(passwordGroup)
                            selectControl = document.createElement("div");
                            selectControl.innerHTML = `<strong><label for="role">Role</label></strong>
                                                      <select class="form-select" multiple aria-label="multiple select example" id="role">
                                                        <option selected>Admin</option>
                                                        <option value="1">User</option>
                                                      </select>
                                                      `
                            modalWrap.querySelector("form").appendChild(selectControl)
                            const id = modalWrap.querySelector("#id").value;
                            const name = modalWrap.querySelector("#name").value;
                            const surname = modalWrap.querySelector("#surname.value");
                            const age = modalWrap.querySelector("#age").value;
                            const username = modalWrap.querySelector("#email").value;
                            const password = modalWrap.querySelector("#password").value;
                            let role = modalWrap.querySelector("#role").selectedIndex;
                            if (role === 0) {
                                role = [
                                    {
                                        "id": 1,
                                        "name": "ROLE_USER",
                                        "users": null,
                                        "authority": "ROLE_USER"
                                    }
                                ]
                            } else {
                                role = [
                                    {
                                        "id": 1,
                                        "name": "ROLE_USER",
                                        "users": null,
                                        "authority": "ROLE_USER"
                                    },
                                    {
                                        "id": 2,
                                        "name": "ROLE_ADMIN",
                                        "users": null,
                                        "authority": "ROLE_ADMIN"
                                    }
                                ]
                            }
                            let editedUser = {
                                "id": id,
                                "name": name,
                                "surname": surname,
                                "age": age,
                                "roles": role,
                                "username": username,
                                "password": password,
                                "enabled": true,
                                "credentialsNonExpired": true,
                                "accountNonExpired": true,
                                "accountNonLocked": true
                            }
                            modalWrap.querySelector(".modal-footer").innerHTML=
                                `<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                <button class="btn btn-primary" onclick="editUser(${editedUser})" data-bs-dismiss="modal" type="submit">Edit User</button>`
                            break;

                        case "Delete":
                            console.log("Delete Modal");
                            modalWrap.querySelector("#modalLabel").innerHTML = "Delete";
                            modalWrap.querySelector("form").setAttribute("method", "DELETE");
                            modalWrap.querySelector("form").setAttribute("action", "/test/api/" + user.id);
                            selectControl = document.createElement("div");
                            selectControl.innerHTML = `<strong><label for="role">Role</label></strong>
                                                      <select class="form-select" multiple aria-label="multiple select example" disabled id="role">
                                                        <option selected>Admin</option>
                                                        <option value="1">User</option>
                                                      </select>
                                                      `
                            modalWrap.querySelector("form").appendChild(selectControl);

                            modalWrap.querySelector(".modal-footer").innerHTML=
                                `<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                <button class="btn btn-danger" onclick="deleteUser(${user.id})" data-bs-dismiss="modal" type="submit">Delete User</button>`
                            break;

                    }

                    document.body.append(modalWrap);
                    let modal = new bootstrap.Modal(modalWrap.querySelector('.modal'));
                    modal.show();
                }))

        })


    }

    async function deleteUser(id) {
        console.log("User with ID " + id + " is being deleted");
        await fetch(URL + id, {method: "DELETE"}).then(result => console.log(result))
            //document.querySelector(".modal").remove();
        await reRenderPage();
    }
    async function editUser(user) {
        console.log("Editing user with id" + user.id);
        await fetch(URL,{method:"PUT",headers: {"Content-Type": "application/json"}, body: JSON.stringify(user)})
    }

    function reRenderPage() {
        console.log(document.querySelector("#mainPanel"));
        document.querySelector("#mainPanel").ariaSelected;
        document.querySelector("#mainPanel").remove();
        const p = new Promise(function(resolve) {
            resolve(createMainPanel());
        })
        p.then(data => console.log(12312));
    }
    function createMainPanel() {
        let p = new Promise(function(resolve) {
            resolve(fetch(URL)
                .then(response => response.json())
                .then(allUsers => {

                    let mainPanel = document.createElement("div");
                    mainPanel.setAttribute("id", "mainPanel");
                    mainPanel.setAttribute("class", "col-10");
                    mainPanel.appendChild(document.createElement("div"))
                    const tblBody = document.createElement("tbody");
                    for (let i = 0; i < allUsers.length; i++) {
                        // creates a table row
                        const row = document.createElement("tr");

                        let cell = document.createElement("td");
                        let cellText = document.createTextNode(allUsers[i].id);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        cell = document.createElement("td");
                        cellText = document.createTextNode(allUsers[i].name);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        cell = document.createElement("td");
                        cellText = document.createTextNode(allUsers[i].surname);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        cell = document.createElement("td");
                        cellText = document.createTextNode(allUsers[i].age);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        cell = document.createElement("td");
                        cellText = document.createTextNode(allUsers[i].username);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        cell = document.createElement("td");
                        let roles;
                        if (allUsers[i].roles.length > 1) {
                            roles = "ADMIN, USER";
                        } else roles = "USER";
                        cellText = document.createTextNode(roles);
                        cell.appendChild(cellText);
                        row.appendChild(cell);

                        const editButtonCell = document.createElement("td");
                        let editButton = createEditButton(allUsers[i]);
                        editButtonCell.appendChild(editButton);
                        row.appendChild(editButtonCell);

                        const deleteButtonCell = document.createElement("td");
                        let deleteButton = createDeleteButton(allUsers[i]);
                        deleteButtonCell.appendChild(deleteButton);
                        row.appendChild(deleteButtonCell);
                        tblBody.appendChild(row);
                    }

                    mainPanel.innerHTML = `
            <div class="col-10">
                <div class="h1 p-3">Admin panel</div>
                <nav class="card col-11 px-2">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users Table</a>
                            </li>
                            <li>
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#new" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h2 class="card-header">All Users</h2>
                                <div class="container-fluid">
                                    <table id="usersTable" class="table table-striped">
                                        <div class="p-30">
                                            <hr>
                                        </div>
                                        <thead class="text-black">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
                                <div  class="container-fluid">
                                    <div class="row text-center" >
                                        <div class="col-2"></div>
                                        <div class="col-8" id="newUserForm" >
                                            <form class="text-center">
                                                <div class="form-group col-6 mx-auto">
                                                    <strong><label for="name" class="font-weight-bold">Name</label></strong>
                                                    <input type="text" class="form-control" id="name"  aria-describedby="First Name" placeholder="Enter your first name">
                                                </div>

                                                <div class="form-group col-6  mx-auto text-center">
                                                    <strong><label for="surname" class="font-weight-bold">Last Name</label></strong>
                                                    <input type="text" class="form-control" id="surname"  aria-describedby="Second Name" placeholder="Enter your last name">
                                                    <div id="lastNameHelp" class="form-text"></div>

                                                </div>
                                                <div class="form-group col-6  mx-auto text-center">
                                                    <strong><label for="age" class="font-weight-bold">Age</label></strong>
                                                    <input type="number" class="form-control" id="age" aria-describedby="Age" placeholder="Enter your age">
                                                    <div id="ageHelp" class="form-text"></div>

                                                </div>
                                                <div class="form-group col-6  mx-auto text-center">
                                                    <strong><label for="username" class="font-weight-bold">Email</label></strong>
                                                    <input type="email" class="form-control" id="username"  aria-describedby="email" placeholder="Enter your email">
                                                    <div id="email help" class="form-text"></div>

                                                </div>
                                                <div class="form-group col-6  mx-auto text-center">
                                                    <strong><label for="password" class="font-weight-bold">Password</label></strong>
                                                    <input type="password" class="form-control"  id="password" placeholder="Enter your password">
                                                </div>
                                                <div class="form-group col-6  mx-auto text-center">
                                                    <strong><label for="role" class="font-weight-bold">Role </label></strong>
                                                <select class="form-select form-select-sm" aria-label="Small select" id="role" name="role" size="2" >
                                                    <option selected value="ROLE_USER">User</option>
                                                    <option value="ROLE_ADMIN">Admin</option>
                                                </select>
                                                </div>
                                                <div class="mx-auto pt-3">
                                                    <button type="submit" href="#home" class="btn btn-success text-center">Add new user</button>
                                                </div>
                                        </form>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        `

                    document.querySelector("#mainRow").appendChild(mainPanel);
                    mainPanel.querySelector("#usersTable").appendChild(tblBody);
                }))
        })
        p.then(()=> {
            const newUserForm = document.querySelector("#newUserForm");
            newUserForm.addEventListener("submit", (e) => {
                e.preventDefault();
                submitNewUserForm(newUserForm);
            })

        })
        return null;
    }


    document.addEventListener("DOMContentLoaded", async function () {
        createHeader();
        createSidebar();
        createMainPanel();

    })

    function submitNewUserForm(userForm) {
        let newUserFirstName = userForm.querySelector("#name").value;
        let newUserLastName = userForm.querySelector("#surname").value;
        let newUserAge = userForm.querySelector("#age").value;
        let newUserEmail = userForm.querySelector("#username").value;
        let newUserPassword = userForm.querySelector("#password").value;
        let newUserRoles = userForm.querySelector("#role").selectedIndex;
        if (newUserRoles === 0) {
            newUserRoles = [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                }
            ]
        } else {
            newUserRoles = [
                {
                    "id": 1,
                    "name": "ROLE_USER",
                    "users": null,
                    "authority": "ROLE_USER"
                },
                {
                    "id": 2,
                    "name": "ROLE_ADMIN",
                    "users": null,
                    "authority": "ROLE_ADMIN"
                }
            ]
        }

        fetch(URL, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "name": newUserFirstName,
                "surname": newUserLastName,
                "age": newUserAge,
                "roles": newUserRoles,
                "username": newUserEmail,
                "password": newUserPassword,
                "enabled": true,
                "credentialsNonExpired": true,
                "accountNonExpired": true,
                "accountNonLocked": true

            })
        })
        newUserFirstName.value="";
        newUserLastName.value="";
        newUserAge.value="";
        newUserEmail.value="";
        newUserPassword.value="";

    }


    // document.querySelector('#buttonToCreateAndDestroy').onclick = function () {
    //     if (document.querySelector("#destructible")) {
    //         document.querySelector("#destructible").remove();
    //         document.querySelector("#buttonToCreateAndDestroy").textContent = "Button to create";
    //     } else {
    //         document.querySelector("#buttonToCreateAndDestroy").textContent = "Button to destroy";
    //         let divToChange = document.querySelector("#MainPanel")
    //         let newElem = document.createElement("h2");
    //         newElem.setAttribute("id","destructible");
    //         const text = document.createTextNode( "This Was Created Anew!");
    //         newElem.appendChild(text);
    //         divToChange.appendChild(newElem);
    //     }
    // }
</script>
</body>
</html>