<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="CSS/styles.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body class="bg-light">
<div id="mainPanel"></div>
<div class="col-10" id="adminPanel">
    <div class="h1 p-3">Admin panel</div>
    <nav class="card col-11 px-2">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" onclick="reRenderPage()" aria-controls="home" aria-selected="true">Users Table</a>
                </li>
                <li>
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#new" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h2 class="card-header">All Users</h2>
                    <div class="container-fluid">
                        <table id="usersTable" class="table table-striped">
                            <div class="p-30">
                                <hr>
                            </div>
                            <thead class="text-black">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
                    <div  class="container-fluid">
                        <div class="row text-center" >
                            <div class="col-2"></div>
                            <div class="col-8" id="newUserForm" >
                                <form class="text-center">
                                    <div class="form-group col-6 mx-auto">
                                        <strong><label for="name" class="font-weight-bold">Name</label></strong>
                                        <input type="text" class="form-control" id="name"  aria-describedby="First Name" placeholder="Enter user's first name">
                                    </div>

                                    <div class="form-group col-6  mx-auto text-center">
                                        <strong><label for="surname" class="font-weight-bold">Last Name</label></strong>
                                        <input type="text" class="form-control" id="surname"  aria-describedby="Second Name" placeholder="Enter user's last name">
                                        <div id="lastNameHelp" class="form-text"></div>

                                    </div>
                                    <div class="form-group col-6  mx-auto text-center">
                                        <strong><label for="age" class="font-weight-bold">Age</label></strong>
                                        <input type="number" class="form-control" id="age" aria-describedby="Age" placeholder="Enter user's age">
                                        <div id="ageHelp" class="form-text"></div>

                                    </div>
                                    <div class="form-group col-6  mx-auto text-center">
                                        <strong><label for="username" class="font-weight-bold">Email</label></strong>
                                        <input type="email" class="form-control" id="username"  aria-describedby="email" placeholder="Enter user's email">
                                        <div id="email help" class="form-text"></div>

                                    </div>
                                    <div class="form-group col-6  mx-auto text-center">
                                        <strong><label for="password" class="font-weight-bold">Password</label></strong>
                                        <input type="password" class="form-control"  id="password" placeholder="Enter user's password">
                                    </div>
                                    <div class="form-group col-6  mx-auto text-center">
                                        <strong><label for="role" class="font-weight-bold">Role </label></strong>
                                        <select class="form-select form-select-sm" aria-label="Small select" id="role" name="role" size="2" >
                                            <option selected value="ROLE_USER">User</option>
                                            <option value="ROLE_ADMIN">Admin</option>
                                        </select>
                                    </div>
                                    <div class="mx-auto pt-3">
                                        <button type="submit" class="btn btn-success text-center">Add new user</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>